<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%= session["partida"].nro_aleatorio_j1%></h1>
	<h2><%= session["partida"].nro_aleatorio_j1%></h2>
	<h3><%= session["partida"].nro_aleatorio_maquina%></h3>
	<h4><%= session["partida"].nro_aleatorio_maquina%></h4>
</body>
</html>
