<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Jugador 1 = <%= session["partida"].nro_aleatorio_j1%> - <%= session["partida"].nro_aleatorio_j1%> Total = 20</h1>
	<h2>Casa      = <%= session["partida"].nro_aleatorio_maquina%> - <%= session["partida"].nro_aleatorio_maquina%> Total = 12</h2>
</body>
</html>
